<div class="container-fluid">
    <div class="row">
        <img src="./assets/classroom.png" class="img-fluid max-width: 100%" alt="...">
    </div>
</div>
<div class="row ml-4 mt-4 justify-content-center"> 
    <form class="form-inline">
        <div class="form-group mb-2">
            <label for="inputPassword2" class="sr-only">Internship</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Internship">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Location</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Location">
        </div>
            <button type="submit" class="btn btn-primary mb-2">Confirm</button>
    </form>
</div>
<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
  
<!-- <div class="container">
    <div class="section category-item job-category-item text center"> 
        <ul class="category-list">
           <li class="category-item">
                <div class="category-icon">
                    <img src="./assets/pic3.jpg" alt="" class="img-fluid">
                </div>
                <span class="category-title">design</span>
                <span class="category-quantity">(100)</span>
            </li> 
            <li class="category-item">
                <div class="category-icon">
                    <img src="" alt="" class="img-fluid">
                </div>
                <span class="category-title">design</span>
                <span class="category-quantity">(100)</span>
            </li> 
            <li class="category-item">
                <div class="category-icon">
                    <img src="" alt="" class="img-fluid">
                </div>
                <span class="category-title">design</span>
                <span class="category-quantity">(100)</span>
            </li> 
            <li class="category-item">
                <div class="category-icon">
                    <img src="" alt="" class="img-fluid">
                </div>
                <span class="category-title">design</span>
                <span class="category-quantity">(100)</span>
            </li> 
            <li class="category-item">
                <div class="category-icon">
                    <img src="" alt="" class="img-fluid">
                </div>
                <span class="category-title">design</span>
                <span class="category-quantity">(100)</span>
            </li> 
        </ul>

    </div>
    
</div> -->
